:root
  --fontPrimary 600 12px/18px 'Palanquin', sans-serif
  --fontSecondary 400 16px/20px 'Roboto', sans-serif
  --blue-darken-3 #1565C0
  --blue-darken-4 #0D47A1
  --indigo-darken-4 #1A237E
  --light-green-darken-1 #7CB342
  --green-darken-1 #43A047
  --grey-lighten-5 #FAFAFA