---
// Style Imports
import '../styles/global.styl'
import '../styles/reset.styl';
import '../styles/vars.styl';

// Component Imports
import Card from '../components/Card.astro';
import CardGrid from '../components/CardGrid.astro';
import HeaderComp from '../components/HeaderComp.astro';
import MenuComp from '../components/MenuComp.astro'
import Fab from '../components/Fab.astro';
import FooterComp from '../components/FooterComp.astro'
import MinicardComp from '../components/MinicardComp.astro'
import MinicardGrid from '../components/MinicardGrid.astro'

// You can import components from any supported Framework here!
let title = 'My Astro Site';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@600&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<HeaderComp>
		<MenuComp/>
	</HeaderComp>
	<main>
		<CardGrid>
			<Card
				title="Project Name"
				image="/assets/img/project1.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Project Name"
				image="/assets/img/project2.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Project Name"
				image="/assets/img/project3.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
		</CardGrid>
		<MinicardGrid title="title">
			<MinicardComp title="title" description="description"/>
			<MinicardComp title="title" description="description"/>
			<MinicardComp title="title" description="description"/>
			<MinicardComp title="title" description="description"/>
		</MinicardGrid>
	</main>
	<FooterComp/>
	<Fab/>
</body>
</html>
