---
// Style Imports
import '../styles/reset.styl';
import '../styles/vars.styl';
// Component Imports
import Card from '../components/Card.astro';
import CardGrid from '../components/CardGrid.astro';
import Fab from '../components/Fab.astro';
import HeaderComp from '../components/HeaderComp.astro';
import MenuComp from '../components/MenuComp.astro'
// You can import components from any supported Framework here!

let title = 'My Astro Site';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@600&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<HeaderComp />
	<MenuComp />
	<main>
		<!-- <CardGrid>
			<Card
				title="Projeto"
				image="/assets/img/dario.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="/assets/img/dario.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="/assets/img/dario.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="/assets/img/dario.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="/assets/img/dario.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="/assets/img/dario.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
		</CardGrid> -->
		<CardGrid>
			<Card
				title="Projeto"
				image="https://i.pinimg.com/736x/8f/5d/a7/8f5da7756b5adc99b61e72e2d0acb255.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="/assets/img/castlevania.png"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="https://c4.wallpaperflare.com/wallpaper/580/650/408/pixel-art-video-games-retro-games-castlevania-wallpaper-preview.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="https://c4.wallpaperflare.com/wallpaper/447/543/777/pixel-art-video-games-retro-games-castlevania-wallpaper-preview.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="https://c4.wallpaperflare.com/wallpaper/855/172/1018/pixel-art-video-games-retro-games-castlevania-wallpaper-preview.jpg"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
			<Card
				title="Projeto"
				image="/assets/img/castlevania2.png"
				description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				url="#"/>
		</CardGrid>
	</main>
</body>
</html>
