<a class="fab" href="#home">
	<svg class="icon" viewBox="0 0 24 24">
		<use xlink:href="sprite.svg#chevron-up"></use>
	</svg>
</a>

<style lang="styl">
.fab
	align-items center
	background #212121 // (temp)
	border-radius 50%
	bottom 16px
	display flex
	fill #fff
	height 56px
	justify-content center
	position fixed
	right 160px
	width 56px

.icon
	height 24px
	width 24px
</style>