<footer class="footer-wrapper">
	<div class="info-wrapper">
		<h2 class="title">FUAPI - Fundação de Apoio ao Desenvolvimento Educacional, Governança e Meio Ambiente da UESPI</h2>
		<div class="actions-wrapper">
			<div class="actions u-border-bottom u-border-top">
				<a class="action">Conheça a FUAPI</a>
				<a class="action">Em resumo</a>
				<a class="action">Código de Ética</a>
				<a class="action">Conselho Curador</a>
				<a class="action">Diretoria</a>
				<a class="action">Estatuto</a>
			</div>
			<div class="actions u-border-bottom">
				<a class="action">Histórico</a>
				<a class="action">Regimento Interno</a>
				<a class="action">Utilidade Pública</a>
				<a class="action">Financeiro até 03/2017</a>
				<a class="action">Editais</a>
				<a class="action">Fornecedores</a>
			</div>
		</div>
	</div>
	<div class="contact-wrapper">
		<div class="location">
			<h2 class="title">Localização</h2>
			<span class="info">
				Praça Firmina Sobreira S/N Bairro: Matinha<br>
				Teresina - PI - Brasil<br>
				CEP: 64002-190
			</span>
		</div>
		<div class="phone">
			<h2 class="title">Contato</h2>
			<span class="info">
				Telefone: 3216-2158<br>
				E-mail: gabinete@fuapi.pi.gov.br
			</span>
		</div>
	</div>
</footer>

<style lang="styl">
.footer-wrapper
	align-items center
	background #42ace9
	display flex
	flex-direction column
	height 100%
	margin-top 64px
	padding 16px
	width 100%

	@media (min-width: 600px)
		flex-direction row
		align-items normal

.info-wrapper
	display flex
	flex-direction column
	width 100%
	
.title
	color #fff
	font var(--fontPrimary)
	font-size 16px
	margin-bottom 16px
	text-align center

	@media (min-width: 840px)
		font-size 18px

.actions-wrapper, .info
	color #fff
	display flex
	flex-direction column
	font var(--fontSecondary)
	font-size 12px
	text-align center

	@media (min-width: 600px)
		flex-direction row
		justify-content space-around

	@media (min-width: 840px)
		font-size 14px

.actions
	display flex
	flex-direction column
	padding 16px 0

.u-border-bottom
	border-bottom .1px solid rgba(250, 250, 250, .3)

	@media (min-width: 600px)
		border-bottom none

.u-border-top
	border-top .1px solid rgba(250, 250, 250, .3)

	@media (min-width: 600px)
		border-top none

.action
	margin 4px 0

.contact-wrapper
	align-items center
	display flex
	flex-direction column

.location
	display flex
	flex-direction column
	margin-top 32px

	@media (min-width: 600px)
		margin-top 0
		min-width 300px

.phone
	display flex
	flex-direction column
	margin-top 32px

	@media (min-width: 600px)
		min-width 300px

</style>