<header class="header-wrapper">
  <div class="header-logo">
    <img class="logo" src="/assets/logoFUAPI.svg" alt="">
    <h6 class="title">Fundação de Apoio ao Desenvolvimento Educacional, Governança e Meio Ambiente da UESPI</h6>
  </div>
</header>

<style lang="styl">
.header-wrapper
  align-items center
  display flex
  height 64px
  padding 16px
  // position fixed
  width 100%
  flex-direction column

.header-logo
	align-items center
	display flex

.logo
	height 32px
	width auto

.title
	margin-left 8px
	font var(--fontPrimary)
	text-align center

.header-bar
	background blue
	width 100%
	display flex
	margin-top 16px
</style>