---
import IconComp from '../components/IconComp.astro';
---

<nav class="menu-wrapper">
    <details id="menuControl" class="menu-disclosure">
      <summary class="menu-caption">
        <IconComp i="menu" w="24px" fillColor="rgb(255, 255, 255)" gapRight="5px"/> Menu
      </summary>
      <ul class="menu-list">
        <li class="menu-accordion">
          <details class="accordion-disclosure">
            <summary class="accordion-caption">
                <IconComp i="chevron-down" w="24px" fillColor="rgb(255, 255, 255)" gapRight="5px"/> Sobre a FUAPI
            </summary>

            <ul class="item-wrapper">
              <li class="item">
                <a href="/">Início</a>
              </li>
              <li class="item">
                <a href="/site/resume">Resumo</a>
              </li>
              <li class="item">
                <a href="">Menu Item</a>
              </li>
            </ul>
          </details>
        </li>

        <li class="menu-accordion">
          <details class="accordion-disclosure">
            <summary class="accordion-caption">
              <IconComp i="chevron-down" w="24px" fillColor="rgb(255, 255, 255)" gapRight="5px"/> Section Name
            </summary>

            <ul class="item-wrapper">
              <li class="item">
                <a href="">Menu Item</a>
              </li>
              <li class="item">
                <a href="">Menu Item</a>
              </li>
            </ul>
          </details>
        </li>

        <li class="menu-accordion">
          <details class="accordion-disclosure">
            <summary class="accordion-caption">
              <IconComp i="chevron-down" w="24px" fillColor="rgb(255, 255, 255)" gapRight="5px"/> Section Name
            </summary>

            <ul class="item-wrapper">
              <li class="item">
                <a href="">Menu Item</a>
              </li>
              <li class="item">
                <a href="">Menu Item</a>
              </li>
            </ul>
          </details>
        </li>

        <li class="menu-link">
          <a href="">Section Name</a>
        </li>
      </ul>
    </details>
</nav>

<style lang="styl">
@media (min-width: 800px)
  .menu-disclosure
    height 44px

  .menu-caption
    display none
  
  .menu-accordion, .menu-link
    max-height 44px
  
  .menu-list
    display flex
    margin: 0 auto
    max-width: 1200px
  
  .item a
    padding 5% 15%

@media (max-width: 799px)
  .menu-caption
    align-items center
    display flex

  .item a
    padding: 3% 15%

.menu-wrapper
  background var(--blue-darken-3)
  color rgb(255, 255, 255)
  font var(--fontSecondary)
  width 100%

.menu-caption
  list-style none
  padding 10px 20px

.accordion-caption
  align-items center
  display flex
  list-style none
  padding 10px 35px

.accordion-caption:hover, .menu-link:hover
  background var(--blue-darken-4)

.item-wrapper
  background var(--blue-darken-4)

.item
  cursor pointer

.item:hover
  background var(--indigo-darken-4)

.item a
  color rgba(255, 255, 255, 0.8)
  text-decoration none
  display block

.item:hover > a
  color rgb(255, 255, 255)

.menu-link a
  color rgb(255, 255, 255)
  display block
  padding 12px 35px
  text-decoration none

.menu-caption, .accordion-caption
  cursor pointer

.menu-caption i, .accordion-caption i::before
  margin-right: 5px

.menu-disclosure[open] > .menu-caption
  background var(--blue-darken-4)

.accordion-disclosure[open] > .accordion-caption
  background var(--blue-darken-4)

</style>

<script>
function changeMenuControl(bool) {
  document.getElementById("menuControl").open = bool;
}

function verifyWindowSize() {
  window.matchMedia('(min-width: 800px)').matches ? changeMenuControl(true) : changeMenuControl(false);
}

verifyWindowSize();
window.onresize = verifyWindowSize;
</script>