---
const {cards} = Astro.props;
---

<section>
	<h3 class="title">title</h3>
	<div class="minicard-grid">
		<slot/>
	</div>
</section>

<style lang="styl">
.title
	margin 24px 0
	text-align center

.minicard-grid
	display grid
	grid-gap 8px
	grid-template-columns repeat(auto-fit, minmax(344px, 1fr))
	padding 0 8px
	
	@media (min-width: 360px)
		padding 0 16px

	@media (min-width: 600px)
		grid-gap 16px
		padding 0 24px

	@media (min-width: 840px)
		padding 0 32px

	@media (min-width: 1080px)
		grid-template-columns repeat(auto-fit, minmax(210px, 1fr))
		padding 0 64px
</style>