---
import IconComp from '../components/IconComp.astro';
---

<a class="button" href="#top">
	<IconComp i="arrow-up"/>
</a>

<style lang="styl">
.button
	align-items center
	background #149fe3 // (temp) need vars
	border-radius 50%
	bottom 16px
	box-shadow 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12)
	color #f0f9ff // (temp) need vars
	display flex
	fill #f0f9ff // (temp) need vars
	height 56px
	justify-content center
	position fixed
	right 16px
	width 56px
</style>
